body {
  padding: 0;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8e52a1+0,9a63a9+47,a977b3+85 */
background: #8e52a1; /* Old browsers */
background: -moz-linear-gradient(top,  #8e52a1 0%, #9a63a9 47%, #a977b3 85%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8e52a1), color-stop(47%,#9a63a9), color-stop(85%,#a977b3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #8e52a1 0%,#9a63a9 47%,#a977b3 85%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #8e52a1 0%,#9a63a9 47%,#a977b3 85%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #8e52a1 0%,#9a63a9 47%,#a977b3 85%); /* IE10+ */
background: linear-gradient(to bottom,  #8e52a1 0%,#9a63a9 47%,#a977b3 85%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e52a1', endColorstr='#a977b3',GradientType=0 ); /* IE6-9 */
  background-repeat: no-repeat;

}

body:before {
    content: url("../images/movie-night.png");
    filter:alpha(opacity=50);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
    opacity:.75;
    position: fixed;
    bottom: 0;
    z-index: -1;
}

.legend {
  margin: 15px 0 !important;
}

.legend span {
  margin-right: 5px;
  display: inline-block;
}

.unstyled {
  list-style: none;
  padding-left: 0;
}

.red:hover {
  cursor: not-allowed;
}

.muted {
  color: #666;
}
.ticketForm {
  margin: 200px 0 300px 0;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  padding: 15px;
}

.seatLayout {
  margin: auto;
}

.title {
  padding: 10px;
  margin: 20px 50px;
  border-bottom: 1px solid #aaa;
}

.seatLayout td{
    width: 40px;
    height: 40px;
    text-align: center;
}

.seatLayout td:hover{ 
  cursor: pointer;
}

.seatLayout .btn {
  margin: 0 5px;
}

.screen {
    padding: 7px;
  width: 350px;
  margin: auto;
  background-color: green;
  color: #fff;
}

.metaInfo li {
  font-size: 16px;
  margin-bottom: 10px;

}

.vList {
  margin: auto;
  list-style: none;
}
.vList li {
  display: inline-block;
  margin-right: 10px;
}

.bookingInfo {
  padding: 15px;
  background-color: #F3BC19;
  border-radius: 4px;
  margin-right: 50px;
}

.successNotify{
  color: green;
  text-align: center;
  font-size: 26px;
  margin: 140px;
}

.btnGroup .btn {
  margin-top: 10px;
}

@media (min-width: 1200px) {
.container {
  width: 970px !important;
}
}